<div class="top"><h1>Welcome to the Rainforest, where resources are plenty!</h1>
 


<p id="product_count">We Currently Have <%= @products.length %> Products Available.  Would you care to add a <%= link_to "New Product?", "/products/new" %>
</p></div>

<div class="info_box"><% @products.each do |product| %>
	<div class="index_box"><div class="name_price"><%= link_to product.name, product %><br><div class="index_pic"><%= link_to image_tag(product.url) %></div>
		 <p class="price">$<%= product.formatted_price %></p></div></div>
<% end %> 